*{
  box-sizing: border-box;
}

body{
  font-family: 'Cabin', sans-serif;
  margin:0;
  padding: 0;
}

.map-container{
  width: 40%;
  border-radius: 5px;
  display: grid;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}


.map{
  display:grid;
}

.map-container__info{
  display: grid;
  height: 100px;
  width: 100%;
  background: rgba(0,0,0,0.5);
  align-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  text-align:center;
}

.map-container__info > *{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
